aside.sidebar 
    a.logo(href="/")
        img(srcset="./images/logo.png 2x" alt="gocastUI")
    ul.menu 
        each item in [{text:"Home", icon:"icon-home"}, {text:"Trending", icon:"icon-chart"}, {text:"Explorer Topics", icon:"icon-cube"},{text:"Playlist", icon:"icon-play"},{text:"Subscriptions", icon:"icon-sub"}]
            + menuItem(item.text, item.icon)
    ul.menu 
        h3.menu-heading Podcasters
        each item in [{text:"Dashboard", icon:"icon-dis"}, {text:"Episodes", icon:"icon-microphone"}, {text:"Team", icon:"icon-user"}, {text:"Subscribers", icon:"icon-adduser"}]
            + menuItem(item.text, item.icon)
    ul.menu 
        h3.menu-heading Leaderboard
        each item in [{text:"Leaderboard", icon:"icon-adduser"}]
            + menuItem(item.text, item.icon)